@model IEnumerable<fa18Team22.Models.Procurement>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Automatic Reorder", "AutomaticReorder", "Procurement", null, new { @class = "btn btn-primary" })

    @Html.ActionLink("Manual Reorder", "Create", "Procurement", null, new { @class = "btn btn-secondary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProcurementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProcurementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProcurementID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProcurementID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProcurementID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
