@*@model PagedList.IPagedList<fa18Team22.Models.Book>*@
@model IEnumerable<fa18Team22.Models.Book>
@using PagedList
@using PagedList.Mvc
@{
    ViewData["Title"] = "Procurement";
}
@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>
@*TABLE FORMAT*@
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid #ddd;
    }
</style>
<h2>
    <span style="font-size: 3em; color: lightgrey;">
        <i class="fas fa-parachute-box"></i>
    </span>

Procurement</h2>
<form asp-action="AutoOrder1" asp-controller="Procurement" method="get">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvgRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inventory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReplenishMinimum)
                </th>
                <th>
                    Quantity to Order
                </th>
                <th>
                    Cost
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvgRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalesPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inventory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReplenishMinimum)
                    </td>
                    <td>
                        @Html.TextBox("QuantityToAdd", 5, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBox("Cost", item.BookCost, new { @class = "form-control" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">Order Supply <i class="fas fa-plus-circle"></i></button>
        </div>
    </div>
</form>