@model IEnumerable<fa18Team22.Models.Procurement>

@{
    ViewData["Title"] = "Procurement";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

@*TABLE FORMAT*@
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid #ddd;
    }
</style>

<h2>Procurement</h2>
<p>
    @Html.ActionLink("Automatic Reorder", "AddProcurements", "Procurement", null, new { @class = "btn btn-primary" })

    @Html.ActionLink("Manual Reorder", "ManualProcurement", "ProcurementSearch", null, new { @class = "btn btn-secondary" })
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcurementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcurementStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcurementDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcurementStatus)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProcurementID" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ProcurementID" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ProcurementID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
