@using fa18Team22.Controllers
@using fa18Team22.Models
@{
    ViewData["Title"] = "Procurement";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>


<p><font color="red">@ViewBag.DetailedMError</font></p>

<h2>Detailed Search</h2>
<form asp-action="DetailedMProcurement" asp-controller="ProcurementSearch" method="get">
    @*Title Text Box*@
    <div class="form-group">
        Title: @Html.TextBox("SearchTitle", null, new { @class = "form-control" })
    </div>
    @*Author Text Box*@
    <div class="form-group">
        Author: @Html.TextBox("SearchAuthor", null, new { @class = "form-control" })
    </div>
    @*Unique ID Search*@
    <div class="form-group">
        Unique Number: @Html.TextBox("SearchUniqueID", null, new { @class = "form-control" })
    </div>

    @*Genre Drop down list*@
    <div class="form-group">
        <label>Choose a Genre:</label>
        @Html.DropDownList("SearchGenre", (SelectList)ViewBag.AllGenres, new { @class = "form-control" })
    </div>

    @*User Sort Choice*@
    <div class="form-group">
        <label>Sort Choice:</label>

        <label class="radio">@Html.RadioButton("SortButton", SortOrderOpt.DontSort, true) No Special Sort </label>
        <label class="radio">@Html.RadioButton("SortButton", SortOrderOpt.Title) Title </label>
        <label class="radio">@Html.RadioButton("SortButton", SortOrderOpt.MostPopular) Author</label>
        <label class="radio">@Html.RadioButton("SortButton", SortOrderOpt.Newest) Most Popular </label>
        <label class="radio">@Html.RadioButton("SortButton", SortOrderOpt.Oldest) Newest </label>
        <label class="radio">@Html.RadioButton("SortButton", SortOrderOpt.HighestRating) Highest Rating </label>
    </div>

    @*In/Out Stock *@
    <div class="form-group">
        <label>Book Inventory:</label>

        <label class="radio">@Html.RadioButton("SelectedStock", DisplayBooks.AllBooks, true)All Books</label>
        <label class="radio">@Html.RadioButton("SelectedStock", DisplayBooks.InStock)Books in Stock</label>
    </div>

    @*<div class="form-group">
            <label>In/Out of Stock:</label>

            <label class="radio">@Html.RadioButton("SelectedStock", DisplayBooks.AllBooks, true)All Books</label>
            <label class="radio">@Html.RadioButton("SelectedStock", DisplayBooks.InStock)Books in Stock</label>
        </div>

            <label class="radio">@Html.RadioButton("SelectedStock", Inventory.true, true)All Books</label>
            <label class="radio">@Html.RadioButton("SelectedStock", Inventory.false)Books in Stock</label>
        </div>*@


    <button type="submit" class="btn btn-primary">Search</button>
</form>
