@model fa18Team22.Models.Promo

@{
    ViewData["Title"] = "Edit";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

<h2>
    <span style="font-size: 3em; color: lightgrey;">
        <i class="fas fa-edit"></i>
    </span>
Edit</h2>

<h4>Promo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PromoID" />
            <input type="hidden" asp-for="PromoCode" />
            <input type="hidden" asp-for="DiscountAmount" />
            <div class="form-group">
                <label asp-for="PromoCode" class="control-label"></label>:
                @Html.DisplayFor(model => model.PromoCode)
            </div>
            <div class="form-group">
                <label asp-for="DiscountAmount" class="control-label"></label>:
                @Html.DisplayFor(model => model.DiscountAmount)
            </div>
            <div class="form-group">
                <label asp-for="MinimumSpend" class="control-label"></label>:
                @Html.DisplayFor(model => model.MinimumSpend)
            </div>

            <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="ShippingWaiver" type="hidden" /> @Html.DisplayNameFor(model => model.ShippingWaiver)
                        </label>
                    </div>
                </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save Changes <i class="far fa-save"></i></button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

