@model IndexViewModel


@{
    ViewBag.Title = "Account Details";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Modify account details", "ModifyAccount", "Account", new { id = Model.Id }, new { @class = "btn btn-warning" })
@if (Model.HasPassword)
{
    @Html.ActionLink("Change your password", "ChangePassword", new { id = Model.Id }, new { @class = "btn btn-danger" })
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>User Name:</dt>
        <dd>@Model.UserName</dd>

        <dt>Email:</dt>
        <dd>@Model.Email</dd>

        <dt>First Name:</dt>
        <dd>@Model.FirstName</dd>

        <dt>Last Name:</dt>
        <dd>@Model.LastName</dd>

        <dt>Address:</dt>
        <dd>@Model.Address</dd>

        <dt>City:</dt>
        <dd>@Model.City</dd>

        <dt>State:</dt>
        <dd>@Model.State</dd>

        <dt>Zip:</dt>
        <dd>@Model.Zip</dd>

        <dt>Phone Number:</dt>
        <dd>@Model.PhoneNumber</dd>

        @if (User.IsInRole("Customer"))
        {

            <dt>Credit Card 1:</dt>
            <dd>@Html.Raw(ViewBag.CreditCard1)</dd>

            <dt>Credit Card 2:</dt>
            <dd>@Html.Raw(ViewBag.CreditCard2)</dd>

            <dt>Credit Card 3:</dt>
            <dd>@Html.Raw(ViewBag.CreditCard3)</dd>
        }
    </dl>


</div>
<hr />

@*@model fa18Team22.Models.AppUser

    @{
        ViewData["Title"] = "Index";
    }
    <h2>Details</h2>
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Zip)
            </dd>
        </dl>
    </div>

    <div>
        <a asp-action="ModifyAccount" asp-route-id="@Model.UserName">Modify Account</a> |
    </div>*@
