@model IEnumerable<fa18Team22.Models.AppUser>
@{
    ViewData["Title"] = "Modify Customer Accounts";
}
@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>
@*TABLE FORMAT*@
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid #ddd;
    }
</style>
<h2>Modify Customer Accounts</h2>
<p>
    @Html.ActionLink("Create New ", "CreateCustomerAccount", "Account", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplenishMinimum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre.GenreName)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookDetail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReplenishMinimum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.GenreName)
                </td>*@
                <td>
                    <a asp-action="EditCustomerAccount" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="ChangeUserStatus" asp-route-id="@item.Id" class="btn btn-info">Activate/Deactivate Account</a>
                    @*<a asp-action="Delete" asp-route-id="@item.BookID" class="btn btn-danger">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
