@model fa18Team22.Models.Order

@{
    ViewData["Title"] = "Checkout";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>
<div>
    <h4>Order Details</h4>
    <table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Book Price</th>
                <th>Quantity</th>
                <th>Extended Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (OrderDetail rd in Model.OrderDetails)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => rd.Book.Title)</td>
                    <td>@Html.DisplayFor(modelItem => rd.Price)</td>
                    <td>@Html.DisplayFor(modelItem => rd.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => rd.ExtendedPrice)</td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div>
    <table class="table table-sm table-bordered" style="width:30%">
        <tr>
            <th colspan="2" style="text-align:center">Order Summary</th>
        </tr>
        <tr>
            <td>Order Subtotal</td>
            <td>@Html.DisplayFor(r => r.OrderSubtotal)</td>
        </tr>
        <tr>
            <td>Sales Tax</td>
            <td>@Html.DisplayFor(r => r.ShippingCost)</td>
        </tr>
        <tr>
            <td>Order Total</td>
            <td>@Html.DisplayFor(r => r.OrderTotal)</td>
        </tr>
    </table>
</div>
<div>
    <!-- enter payment information-->
    <form asp-action="PaymentInformation">
        <p><font color="red">@ViewBag.PaymentError</font></p>
        <table class="table table-sm table-bordered" style="width: 30%">
            <tr class="form-group">
                <input asp-for="OrderID" type="hidden" name="orderId" class="form-control" />
            </tr>
            <tr>
                <th colspan="2" style="text-align:center">Payment Method</th>
            </tr>
            <tr>
                <td>
                    @Html.DropDownList("CreditCard", (SelectList)ViewBag.creditcards, new { @class = "form-control" })
                </td>
            </tr>
        </table>
        <br />
        Enter Credit Card Number:<br>
        @*<input type="text" name="NewCreditCard">*@
        <input asp-for="Payment" name="NewCreditCard" class="form-control" />
        <br>
        <input type="submit" value="Apply Payment Method">

    </form>

</div>
<div>
    <!-- FORM to enter coupon code-->
    <form asp-action="EnterPromo">
        <div class="form-group">
            <input asp-for="OrderID" type="hidden" name="orderId" class="form-control" />
        </div>
        <p><font color="red">@ViewBag.PromoError</font></p>
        Enter Coupon Code:<br>
        @*<input type="text" name="promoCode">*@
        <input asp-for="Promo.PromoCode" name="promoCode" class="form-control" />
        <br>
        <input type="submit" value="Apply Code">
    </form>
</div>
<div>
    <p>
        <!-- place order-->
        <a asp-action="PlacedOrder" asp-route-id="@Model.OrderID" class="btn btn-success">Place Order</a>
        @*<a asp-action="PlacedOrder" asp-route-id="@Model.OrderID" asp-route-data="@Model" class="btn btn-success">Place Order</a>*@

    </p>
</div>

