@model fa18Team22.Models.Order
@using fa18Team22.Controllers

@{
    ViewData["Title"] = "Checkout";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>
<br />
<h2>Checkout</h2>
<br />
<div>
    <h5>Book Order Details</h5>
    <table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Book Price</th>
                <th>Quantity</th>
                <th>Extended Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (OrderDetail rd in Model.OrderDetails)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => rd.Book.Title)</td>
                    <td>@Html.DisplayFor(modelItem => rd.Price)</td>
                    <td>@Html.DisplayFor(modelItem => rd.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => rd.ExtendedPrice)</td>
                </tr>

            }
        </tbody>
    </table>
</div>
<br />
<div>
    <table class="table table-sm table-bordered" style="width:30%">
        <tr>
            <th colspan="2" style="text-align:center">Order Summary</th>
        </tr>
        <tr>
            <td>Order Subtotal</td>
            <td>@Html.DisplayFor(r => r.OrderSubtotal)</td>
        </tr>
        <tr>
            <td>Shipping Cost</td>
            <td>@Html.DisplayFor(r => r.ShippingCost)</td>
        </tr>
        <tr>
            <td>Order Total</td>
            <td>@Html.DisplayFor(r => r.OrderTotal)</td>
        </tr>
    </table>
</div>
<br />
<div>
    <!-- FORM to enter coupon code-->
    <form asp-action="EnterPromo">
        <div class="form-group">
            <input asp-for="OrderID" type="hidden" name="orderId" class="form-control" />
        </div>
        <p><font color="red">@ViewBag.PromoError</font></p>
        <b>Enter Coupon Code:</b><br>
        <input asp-for="Promo.PromoCode" name="promoCode" class="form-control" />
        <br>
        <input type="submit" value="Apply Code">
    </form>
</div>
<div>
    <!-- enter payment information-->
    <form asp-action="PaymentInformation">
        <p><font color="red">@ViewBag.PaymentError</font></p>

        <div><input asp-for="OrderID" type="hidden" name="orderId" class="form-control" /></div>
        <h5><b>Payment Method</b></h5>
        <div>@Html.DropDownList("CreditCard", (SelectList)ViewBag.creditcards, new { @class = "form-control" })</div>
        <br />
        <div>
            Enter Credit Card Number:<br>
            <input asp-for="Payment" name="NewCreditCard" class="form-control" />
            <br />
            @if (Model.Customer.CreditCard1 != null && Model.Customer.CreditCard2 != null && Model.Customer.CreditCard3 != null)
            {
                <p>Select Credit Card to Replace:</p>
                <label class="radio">@Html.RadioButton("SelectedReplaceCard", CCReplace.CC1, true)Credit Card 1</label>
                <label class="radio">@Html.RadioButton("SelectedReplaceCard", CCReplace.CC2)Credit Card 2</label>
                <label class="radio">@Html.RadioButton("SelectedReplaceCard", CCReplace.CC3)Credit Card 3</label>
            }
        </div>
        <div>
            <input type="submit" value="Place Order">
        </div>
    </form>
</div>

<div>
    <p>
        <!-- place order-->
        @*<a asp-action="PlacedOrder" asp-route-id="@Model.OrderID" class="btn btn-success">Place Order</a>*@
        @*<a asp-action="PlacedOrder" asp-route-id="@Model.OrderID" asp-route-data="@Model" class="btn btn-success">Place Order</a>*@

    </p>
</div>

