@model fa18Team22.Models.Order
@{
    ViewData["Title"] = "Congratulations!";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

<h2>Congratulations! Your order has been placed!</h2>

<br />

<!-- Order Detail Summary -->
<div>
    <h4>Books Ordered</h4>
    <table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Book Price</th>
                <th>Quantity</th>
                <th>Extended Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (OrderDetail rd in Model.OrderDetails)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => rd.Book.Title)</td>
                    <td>@Html.DisplayFor(modelItem => rd.Price)</td>
                    <td>@Html.DisplayFor(modelItem => rd.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => rd.ExtendedPrice)</td>
                </tr>

            }
        </tbody>
    </table>
</div>
<br />

<!-- Order Summary -->
<div>
    <table class="table table-sm table-bordered" style="width:30%">
        <tr>
            <th colspan="2" style="text-align:center">Completed Order Summary</th>
        </tr>
        <tr>
            <td>Order Subtotal</td>
            <td>@Html.DisplayFor(r => r.OrderSubtotal)</td>
        </tr>
        <tr>
            <td>Shipping Cost</td>
            <td>@Html.DisplayFor(r => r.ShippingCost)</td>
        </tr>
        <tr>
            <td>Order Total</td>
            <td>@Html.DisplayFor(r => r.OrderTotal)</td>
        </tr>
    </table>
</div>

<br />

<!-- recommendations based on what was ordered-->
<div>
    <p>
        Based on your last purchase, we have some books you might like:
        <br />
        @Html.ActionLink("Recommended Books", "Recommend", "RecommendBooks", new { id = Model.OrderID }, new { @class = "btn btn-danger" })

    </p>


</div>