@model IEnumerable<fa18Team22.Models.OrderDetail>

@{
    ViewData["Title"] = "Order Details";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

@*TABLE FORMAT*@
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid #ddd;
    }
</style>

<h2>
    <span style="font-size: 3em; color: lightgrey;">
        <i class="fas fa-shopping-bag"></i>
    </span>

Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New <i class="fas fa-plus-circle"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderDetailID" class="btn btn-warning">Edit Items <i class="fas fa-shopping-cart"></i></a>
                    <a asp-action="Details" asp-route-id="@item.OrderDetailID" class="btn btn-info">Details <i class="fas fa-list-ul"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.OrderDetailID" class="btn btn-danger">Delete <i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
