@model IEnumerable<fa18Team22.Models.Book>

@{
    ViewData["Title"] = "Browse Books";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

@*TABLE FORMAT*@
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid #ddd;
    }
</style>

<h2>Browse Books</h2>
<form asp-action="Index" asp-controller="Search" method="get">
    <p class="form-group">
        @*Buttons to redirect to the Detailed Search and Buttons to Show All Books*@
        <a class="btn btn-primary" href="/Search/DetailedSearch">Detailed Search</a>
        @*TODO: Do we need to change href for this danger button the show all?*@
        <a class="btn btn-secondary" href="/Search/Index">Show All</a>
    </p>
</form>

<p>Displaying @ViewBag.SelectedBooksCount out of @ViewBag.TotalBooks Books </p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniqueID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesPrice)
            </th>
            <th>
                In Stock?
            </th>
            <th>
                Discontinued?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniqueID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookDetail)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.AvgRating)*@


                    @{
                        string parameterValue = item.AvgRating.ToString();
                    }
                    <text>@parameterValue</text>


                    @*@Html.DisplayFor(modelItem => parameterValue)*@
                    @*@Html.DisplayFor(modelItem => item.AvgRating.ToString().Substring(0, 2))*@

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesPrice)
                </td>
                <td>
                    @if (item.Inventory > 0) { @ViewBag.InStock }
                    @if (item.Inventory <= 0) { @ViewBag.OutofStock }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDiscontinued)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BookID" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
