@model IEnumerable<fa18Team22.Models.Book>
@{
    ViewData["Title"] = "Index";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

@*TABLE FORMAT*@
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid #ddd;
    }
</style>

<h2>Reviews</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDetail)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookDetail)
                </td>
                <td>
                    <a asp-controller="Review" asp-action="Create" asp-route-id="@item.BookID" class="btn btn-primary">Add a Review</a>
                    <a asp-controller="Review" asp-action="Details" asp-route-id="@item.BookID" class="btn btn-info">Details</a>


                </td>
            </tr>
        }
    </tbody>
</table>
