@model IEnumerable<fa18Team22.Models.Review>
@{
    ViewData["Title"] = "Index";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

<h2>
    <span style="font-size: 3em; color: lightgrey;">
        <i class="far fa-thumbs-up"></i>
    </span>
Reviews Employee/Manager Index</h2>



<p>
    <a asp-action="AllReviews" class="btn btn-primary">All Reviews</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                User Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.NormalizedUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewText)
                </td>
                <td>
                    <a asp-controller="Review" asp-action="Approve" asp-route-id="@item.ReviewID" class="btn btn-success">Approve <i class="far fa-thumbs-up"></i></a>
                    <a asp-controller="Review" asp-action="Reject" asp-route-id="@item.ReviewID" class="btn btn-danger">Reject <i class="far fa-thumbs-down"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
