@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewBag.Title = "Reports";
}
<h2>Bevo's Book Store: Employee Reports</h2>

@Html.ActionLink("All Books Sold", "SortSelectionA", "Reports", null, new { @class = "btn btn-primary" })
@Html.ActionLink("All Orders", "AllOrders", "Reports", null, new { @class = "btn btn-secondary" })
@Html.ActionLink("All Customers", "AllCustomers", "Reports", null, new { @class = "btn btn-success" })
@Html.ActionLink("Totals", "Totals", "Reports", null, new { @class = "btn btn-danger" })
@Html.ActionLink("Current Inventory", "CurrentInventory", "Reports", null, new { @class = "btn btn-warning" })
@Html.ActionLink("Approved/Rejected Reviews", "ApprovedRejectedReviews", "Reports", null, new { @class = "btn btn-info" })


