@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewBag.Title = "Reports";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

<h2>Bevo's Book Store: Employee Reports</h2>

@Html.ActionLink("All Books Sold", "SortSelectionA", "Reports", null, new { @class = "btn btn-secondary" })
@Html.ActionLink("All Orders", "SortSelectionB", "Reports", null, new { @class = "btn btn-secondary" })
@Html.ActionLink("All Customers", "SortSelectionC", "Reports", null, new { @class = "btn btn-success" })
@Html.ActionLink("Totals", "ReviewReportD", "Reports", null, new { @class = "btn btn-danger" })
@Html.ActionLink("Current Inventory", "ReviewReportE", "Reports", null, new { @class = "btn btn-warning" })
@Html.ActionLink("Approved/Rejected Reviews", "ReviewReport", "Reports", null, new { @class = "btn btn-info" })



