@model IEnumerable<fa18Team22.Models.AllBooksReportViewModel>

@using fa18Team22.Models
@{
    ViewData["Title"] = "All Books Sold";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

@*TODO Finish AllBooks Sold*@
<h2>
    <span style="font-size: 3em; color: lightgrey;">
        <i class="fas fa-book"></i>
    </span>
All Books Report</h2>
<form asp-action="ChooseReport" asp-controller="Reports" method="get">
    <div>
        <a asp-controller="Reports"
       asp-action="ChooseReport" class="btn btn-secondary">Back to All Reports</a>
    </div>
</form>
<p>Displaying @ViewBag.SelectedRecords Records </p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Quantity
            </th>
            <th>
                Order Number
            </th>
            <th>
                Customer
            </th>
            <th>
                Selling Price
            </th>
            <th>
                Weighted Average Cost
            </th>
            <th>
                Profit Margin
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (AllBooksReportViewModel item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightedAvgCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfitMargin)
            </td>
        </tr>
}
    </tbody>
</table>
