@using fa18Team22.Controllers
@using fa18Team22.Models
@*FONT*@

@{
    ViewData["Title"] = "Orders";
}

<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

<h2>All Orders Report</h2>
<form asp-action="ReviewReportB" asp-controller="Reports" method="get">

    @*Search by Profit Margin*@     <div class="form-group">         Minimum Profit Margin: @Html.TextBox("ProfitMin", null, new { style = "width:250px" })         Maximum Profit Margin: @Html.TextBox("ProfitMax", null, new { style = "width:250px" })         <div class="text-danger"> @ViewBag.Message </div>     </div>      @*Search by Price*@     <div class="form-group">         Lowest Price: @Html.TextBox("PriceMin", null, new { style = "width:250px" })         Highest Price: @Html.TextBox("PriceMax", null, new { style = "width:250px" })         <div class="text-danger"> @ViewBag.Message </div>     </div>

    @*Sort Options *@
    <div class="form-group">
        <label>Sort by Options:</label>
        <br />
        <label class="radio">@Html.RadioButton("SelectedSort", SortReport.MostRecent, true) Most Recent Order </label>
        <label class="radio">@Html.RadioButton("SelectedSort", SortReport.ProfitMarginAsc) Order Profit Margin Ascending </label>
        <label class="radio">@Html.RadioButton("SelectedSort", SortReport.ProfitMarginDesc) Order Profit Margin Descending </label>
        <label class="radio">@Html.RadioButton("SelectedSort", SortReport.PriceAsc) Order Total Ascending </label>
        <label class="radio">@Html.RadioButton("SelectedSort", SortReport.PriceDesc) Order Total Descending </label>
    </div>

    <button type="submit" class="btn btn-success">Generate Report</button>
</form>
