@model IEnumerable<fa18Team22.Models.Promo>

@{
    ViewData["Title"] = "Home";
}

@*FONT*@
<style type="text/css">
    body {
        font-family: Georgia;
    }
</style>

<h1 align="center">Bevo's Books</h1>

<p align="center">
    Hello there! Welcome to the best book store at UT.
</p>

<p align="center">
    @Html.ActionLink("Shop Books", "Index", "Search", null, new { @class = "btn btn-primary" })
</p>

@if (User.IsInRole("Customer"))
{
    <h3 align="center">
        <i class="glyphicon glyphicon-lock"></i>Current Promotions
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Promotion Code
                </th>
                <th>
                    Discount Percentage
                </th>
                <th>
                    Minimum Required to Use
                </th>

                <th>
                    Shipping Waiver?
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PromoCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinimumSpend)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ShippingWaiver)
                    </td>

                </tr>
            }

        </tbody>
    </table>
}




